---
import MainLayout from '../../../layouts/MainLayout.astro';

const customCrumbs = [
  {
    text: "journal",
    href: "/journal",
  },
	{
    text: 'test',
    href: "/journal/test",
  },
	{
    text: 'test 2',
    href: "#",
  }
];
---

<MainLayout title="Test | Eric Grossman" crumbs={customCrumbs} >
	<article>
		<h2>Lorem</h2>
		<h1>Test 2.</h1>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias perferendis blanditiis libero sit
			aperiam similique sunt architecto numquam neque ea. Aspernatur, nesciunt! Repellendus provident
			ipsa minima molestias inventore rerum numquam! Lorem ipsum dolor sit amet consectetur adipisicing
			elit. Alias perferendis blanditiis libero sit aperiam similique sunt architecto numquam neque ea.
			Aspernatur, nesciunt! Repellendus provident ipsa minima molestias inventore rerum numquam!
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias perferendis blanditiis libero sit
			aperiam similique sunt architecto numquam neque ea. Aspernatur, nesciunt! Repellendus provident
			ipsa minima molestias inventore rerum numquam! Lorem ipsum dolor sit amet consectetur adipisicing
			elit. Alias perferendis blanditiis libero sit aperiam similique sunt architecto numquam neque ea.
			Aspernatur, nesciunt! Repellendus provident ipsa minima molestias inventore rerum numquam!
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias perferendis blanditiis libero sit
			aperiam similique sunt architecto numquam neque ea. Aspernatur, nesciunt! Repellendus provident
			ipsa minima molestias inventore rerum numquam! Lorem ipsum dolor sit amet consectetur adipisicing
			elit. Alias perferendis blanditiis libero sit aperiam similique sunt architecto numquam neque ea.
			Aspernatur, nesciunt! Repellendus provident ipsa minima molestias inventore rerum numquam!
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias perferendis blanditiis libero sit
			aperiam similique sunt architecto numquam neque ea. Aspernatur, nesciunt! Repellendus provident
			ipsa minima molestias inventore rerum numquam! Lorem ipsum dolor sit amet consectetur adipisicing
			elit. Alias perferendis blanditiis libero sit aperiam similique sunt architecto numquam neque ea.
			Aspernatur, nesciunt! Repellendus provident ipsa minima molestias inventore rerum numquam!
		</p>
	</article>
</MainLayout>

<style lang="scss">
	article {
		padding: 20px;
		max-width: 60ch;
		margin: 80px auto;
		
		p {
			padding: 30px 0;
		}
	}

	// Why does this work only when is:global, yet it doesn't affect any other page?
		// nav > ol > li:nth-child(1) {
		// 	display: none;
		// }
	

</style>
