---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Page not found | Eric Grossman" description="404 error fallback page">
	<div class="narration doh">
		<h1>d’oh, 404.</h1>
		<p>Welp... this page is missing.</p>
		<p>
			If you have a moment, please use the report button below to let Eric know about this
			problem. Thank you kind&nbsp;human.
		</p>
	</div>

	<div class="homer">
		<img
			src="https://eric-grossman.com/assets/404/homer-404.png"
			alt="Homer Simpson smacking his forehead in disappointment."
		/>
	</div>
</MainLayout>

<style lang="scss">
</style>
