---
import MainLayout from '../layouts/MainLayout.astro';

const customCrumbs = [
	{
		text: 'home',
		href: '/',
	},
	{
		text: 'page not found',
		href: '#',
	},
];
---

<MainLayout title="404 | Eric Grossman" description="Missing page fallback" crumbs={customCrumbs}>
	<div class="narration doh">
		<h1>d’oh, 404.</h1>
		<p>Welp... this page is missing.</p>
		<p>
			If you have a moment, please use the report button below to let Eric know about this problem.
			Thank you kind&nbsp;human.
		</p>
	</div>

	<a data-disable-link-handler href="mailto:contact@eric-grossman.com?subject=Reaching%20out%20from%20online%20portfolio...">mail test</a>

	<div class="homer">
		<img
			src="/assets/404/homer-404.png"
			alt="Homer Simpson smacking his forehead in disappointment."
		/>
	</div>
</MainLayout>

<style lang="scss"></style>
