---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Home | Eric Grossman" description="Eric Grossman's home page">
	<div class="content">
		<p style="max-width: 400px; margin: 0 auto; padding: 30px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias perferendis blanditiis libero sit aperiam similique sunt architecto numquam neque ea. Aspernatur, nesciunt! Repellendus provident ipsa minima molestias inventore rerum numquam!</p>
		<p style="max-width: 400px; margin: 0 auto; padding: 30px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias perferendis blanditiis libero sit aperiam similique sunt architecto numquam neque ea. Aspernatur, nesciunt! Repellendus provident ipsa minima molestias inventore rerum numquam!</p>
		<p style="max-width: 400px; margin: 0 auto; padding: 30px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias perferendis blanditiis libero sit aperiam similique sunt architecto numquam neque ea. Aspernatur, nesciunt! Repellendus provident ipsa minima molestias inventore rerum numquam!</p>
		<p style="max-width: 400px; margin: 0 auto; padding: 30px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias perferendis blanditiis libero sit aperiam similique sunt architecto numquam neque ea. Aspernatur, nesciunt! Repellendus provident ipsa minima molestias inventore rerum numquam!</p>
		<p style="max-width: 400px; margin: 0 auto; padding: 30px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias perferendis blanditiis libero sit aperiam similique sunt architecto numquam neque ea. Aspernatur, nesciunt! Repellendus provident ipsa minima molestias inventore rerum numquam!</p>
		<p style="max-width: 400px; margin: 0 auto; padding: 30px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias perferendis blanditiis libero sit aperiam similique sunt architecto numquam neque ea. Aspernatur, nesciunt! Repellendus provident ipsa minima molestias inventore rerum numquam!</p>
		<p style="max-width: 400px; margin: 0 auto; padding: 30px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias perferendis blanditiis libero sit aperiam similique sunt architecto numquam neque ea. Aspernatur, nesciunt! Repellendus provident ipsa minima molestias inventore rerum numquam!</p>
		<p style="max-width: 400px; margin: 0 auto; padding: 30px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias perferendis blanditiis libero sit aperiam similique sunt architecto numquam neque ea. Aspernatur, nesciunt! Repellendus provident ipsa minima molestias inventore rerum numquam!</p>
		<p style="max-width: 400px; margin: 0 auto; padding: 30px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias perferendis blanditiis libero sit aperiam similique sunt architecto numquam neque ea. Aspernatur, nesciunt! Repellendus provident ipsa minima molestias inventore rerum numquam!</p>
		<p style="max-width: 400px; margin: 0 auto; padding: 30px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias perferendis blanditiis libero sit aperiam similique sunt architecto numquam neque ea. Aspernatur, nesciunt! Repellendus provident ipsa minima molestias inventore rerum numquam!</p>
		<p style="max-width: 400px; margin: 0 auto; padding: 30px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias perferendis blanditiis libero sit aperiam similique sunt architecto numquam neque ea. Aspernatur, nesciunt! Repellendus provident ipsa minima molestias inventore rerum numquam!</p>
		<p style="max-width: 400px; margin: 0 auto; padding: 30px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias perferendis blanditiis libero sit aperiam similique sunt architecto numquam neque ea. Aspernatur, nesciunt! Repellendus provident ipsa minima molestias inventore rerum numquam!</p>
		<p style="max-width: 400px; margin: 0 auto; padding: 30px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias perferendis blanditiis libero sit aperiam similique sunt architecto numquam neque ea. Aspernatur, nesciunt! Repellendus provident ipsa minima molestias inventore rerum numquam!</p>
		<p style="max-width: 400px; margin: 0 auto; padding: 30px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias perferendis blanditiis libero sit aperiam similique sunt architecto numquam neque ea. Aspernatur, nesciunt! Repellendus provident ipsa minima molestias inventore rerum numquam!</p>
		<p style="max-width: 400px; margin: 0 auto; padding: 30px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias perferendis blanditiis libero sit aperiam similique sunt architecto numquam neque ea. Aspernatur, nesciunt! Repellendus provident ipsa minima molestias inventore rerum numquam!</p>
		<p style="max-width: 400px; margin: 0 auto; padding: 30px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias perferendis blanditiis libero sit aperiam similique sunt architecto numquam neque ea. Aspernatur, nesciunt! Repellendus provident ipsa minima molestias inventore rerum numquam!</p>
		<p style="max-width: 400px; margin: 0 auto; padding: 30px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias perferendis blanditiis libero sit aperiam similique sunt architecto numquam neque ea. Aspernatur, nesciunt! Repellendus provident ipsa minima molestias inventore rerum numquam!</p>
		<p style="max-width: 400px; margin: 0 auto; padding: 30px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias perferendis blanditiis libero sit aperiam similique sunt architecto numquam neque ea. Aspernatur, nesciunt! Repellendus provident ipsa minima molestias inventore rerum numquam!</p>
	</div>
</MainLayout>

<style lang="scss">
	.content {
		background-color: -var(bg-layer);
		// background-color: #E5E5E5;
	}
</style>
