---
import MainLayout from '../layouts/MainLayout.astro';
import SnackBar from '../components/SnackBar.astro';
import SectionTitle from '../components/SectionTitle.astro';
import ArtGrid from '../components/page-index/ArtGrid.astro';
import FeaturedItem from '../components/page-index/FeaturedItem.astro';
---

<MainLayout title="Portfolio | Eric Grossman" description="Eric Grossman's past work">
	<SnackBar btnCopy="Got it">
		This site is a work in progress. Content and design will&nbsp;change.
	</SnackBar>

	<div class="narration hero">
		<div class="flex">
			<div class="hero-headshot">
				<img class="hero-signature" src="./assets/index/signature-delayed.gif" />
			</div>
			<div>
				<h1>hey&nbsp;there.</h1>
				<p>
					I&rsquo;m Eric, a UX designer and front-end web developer. My fascination with how
					design impacts others is what drives me to create empowering user experiences.
					<nobr>
						<a onclick="noAboutPage()" href="#" title="Go to about page">
							<span class="material-symbols-outlined" style="margin: 0 3px 4px 1px">
								add_circle
							</span>
							 Learn more
						</a>
					</nobr>
				</p>
				<img class="hero-signature-no-headshot" src="./assets/index/signature-delayed.gif" />
			</div>
		</div>
	</div>

	<SectionTitle scrollDestination="mobell">Featured&nbsp;Work</SectionTitle>

	<FeaturedItem
		id="mobell"
		copyEyebrow="Mobell Service"
		copyHeadline="Improving accessibility, from hackathon idea to product"
		imageAlt="Three phones displaying various screens from an app called Mobell."
		imageLoading="eager">
		Mobell aims to make society more inclusive to people with disabilities and, as a result, make
		greater independence accessible to all. This service suite for businesses and their customers was
		conceived during the 2019 Camp PolyHacks Hackathon, winning 1st Place and “Best Use of Satellite
		Technology by&nbsp;Northrop&nbsp;Grumman”.
	</FeaturedItem>

	<FeaturedItem
		id="boltabout"
		copyEyebrow="BoltAbout Dashboard"
		copyHeadline="Streamlining the employee UX via Lean/6σ methodologies"
		imageAlt="iPad displaying people on BoltAbout bikes, with the BoltAbout logo in the corner.">
		Driven by a pursuit of constant improvement, my team and I were tasked with identifying
		inefficiencies to streamline BoltAbout&rsquo;s internal processes. This work utilized Lean/Six
		Sigma and UX Design methodologies to implement changes that not only drastically improve the
		employee experience, but also continue to save the&nbsp;company&nbsp;money.
	</FeaturedItem>

	<FeaturedItem
		id="cp-events"
		copyEyebrow="Cal Poly Events App"
		copyHeadline="Facilitating event discovery via research & design"
		imageAlt="Phone displaying a list of events from a Cal Poly events application.">
		The goal for this project was to re-envision Cal Poly&rsquo;s brand in an authentic and modern
		way by incorporating Material Design language in conjunction with user research and Cal Poly’s
		branding guidelines. This work and its associated insights were later used for inspiration by the
		Cal Poly app design team for development of their redesigned student&nbsp;application.
	</FeaturedItem>

	<div class="sunrise">
		<div class="narration art-intro">
			<h1>
				have an
				<br />
				 extra minute?
			</h1>
			<p>
				Keep scrolling to read about my design journey and process. When I’m not designing an
				interface, I&rsquo;ve got my hands on a camera and some design&nbsp;tools.
			</p>
		</div>

		<SectionTitle scrollDestination="art">Photos &amp; Graphics</SectionTitle>
	</div>

	<ArtGrid />
</MainLayout>
