---
import MainLayout from '../layouts/MainLayout.astro';
import Footer from '../components/Footer.astro';
import SnackBar from '../components/SnackBar.astro';
import SectionTitle from '../components/SectionTitle.astro';
import ArtGrid from '../components/page-index/ArtGrid.astro';
import FeaturedItem from '../components/page-index/FeaturedItem.astro';
---

<MainLayout title="Portfolio | Eric Grossman" description="Eric Grossman's previous work">
	<SnackBar btnCopy="Got&nbsp;it">This site is a work in progress. Content and design will&nbsp;change.</SnackBar>

	<div class="narration hero">
		<div class="flex">
			<div class="hero-headshot">
				<img class="hero-signature" src="./assets/index/signature-delayed.gif" />
			</div>
			<div>
				<h1>hey&nbsp;there.</h1>
				<p>
					I&rsquo;m Eric, a UX designer and front-end web developer. My fascination with
					how design impacts others is what drives me to create empowering user
					experiences.
					<nobr>
						<a onclick="noAboutPage()" href="#" title="Go to about page">
							<span class="material-symbols-outlined" style="margin: 0 3px 4px 1px">
								add_circle
							</span>
							 Learn more
						</a>
					</nobr>
				</p>
				<img
					class="hero-signature-no-headshot"
					src="./assets/index/signature-delayed.gif"
				/>
			</div>
		</div>
	</div>

	<SectionTitle scrollDestination="mobell">Featured&nbsp;Work</SectionTitle>

	<FeaturedItem></FeaturedItem>

	<div class="sunrise">
		<div class="narration art-intro">
			<h1>
				have an
				<br />
				 extra minute?
			</h1>
			<p>
				Keep scrolling to read about my design journey and process. When I’m not designing
				an interface, I&rsquo;ve got my hands on a camera and some design&nbsp;tools.
			</p>
		</div>

		<SectionTitle scrollDestination="art">Photos &amp; Graphics</SectionTitle>

	</div>

	<ArtGrid />

	<Footer />
</MainLayout>
