---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Journal | Eric Grossman" description="Eric Grossman's Journal home page">
	<div class="content">
		<p style="max-width: 400px; margin: 0 auto; padding: 30px">
			Journal home page!!! Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
			perferendis blanditiis libero sit aperiam similique sunt architecto numquam neque ea.
			Aspernatur, nesciunt! Repellendus provident ipsa minima molestias inventore rerum numquam!
		</p>
	</div>
</MainLayout>

<style lang="scss"></style>
