---
const { crumbs } = Astro.props;
---

<nav class="crumbs" aria-label="breadcrumbs">
	<ol>
		{
			crumbs.map((crumb, index) => (
				<li class="crumb">
					<a class="crumb-link" href={crumb.href}>
						<h2>{crumb.text}</h2>
					</a>

					{index < crumbs.length - 1 ? (
						<svg
							class="crumb-chevron"
							xmlns="http://www.w3.org/2000/svg"
							width="16"
							height="16"
							viewBox="0 0 24 24"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round">
							<polyline points="9 18 15 12 9 6" />
						</svg>
					) : null}
				</li>
			))
		}
	</ol>
</nav>

<style lang="scss" is:global>
	.crumbs {
		$anim-delay: 0.3s;

		padding: 3px 10px 3px 18px;

		&,
		ol,
		.crumb {
			display: flex;
			align-items: center;
		}

		ol {
			flex-wrap: wrap;
		}

		.crumb {
			color: var(--glyph-standard);
			line-height: 1.3;
			white-space: nowrap;

			a {
				color: inherit;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}

			&-chevron {
				margin: 0 6px;
				margin-bottom: .5px;
			}
		}

		.crumb:last-child {
			animation: slide-right ease-out var(--nav-anim-duration) calc($anim-delay + 0.1s) backwards;
		}

		.crumb:nth-last-child(2) .crumb-chevron {
			animation: slide-right ease-out var(--nav-anim-duration) $anim-delay backwards;
		}

		.anim-unmount-crumb.crumb,
		.crumb[data-clicked-crumb] .crumb-chevron {
			animation: slide-left ease-out var(--nav-anim-duration) 0.1s forwards;
		}

		&[data-disable-mount-anim] > ol {
			.crumb,
			.crumb .crumb-chevron {
				animation: none;
			}
		}
	}
</style>
