<div class="crumbs">
	<h2>Home / Lorem / Ipsum</h2>
</div>

<style lang="scss">
	.crumbs {
		// background-color: red;
		max-width: 30ch;
		margin-left: 10px;
		padding: 0 10px;
		display: flex;
		align-items: center;
	}
</style>
