---
const { crumbs } = Astro.props;
---

<nav class='crumbs' id='crumbs' aria-label='breadcrumbs'>
	<ol>
		{
			crumbs.map((crumb, index) => (
				<li class='crumb'>
					<a class='crumb-link' href={crumb.href} data-crumb-link>
						<p class='h2'>{crumb.text}</p>
					</a>

					{index < crumbs.length - 1 ? <p class='h2 crumb-divider'>/</p> : null}
				</li>
			))
		}
	</ol>
</nav>

<style lang='scss'>
	.crumbs {
		$crumb-anim-delay: 0.2s;
		padding: 5px 10px 3px 17px;

		&,
		ol,
		.crumb {
			display: flex;
			align-items: center;
		}

		ol {
			flex-wrap: wrap;
		}

		.crumb {
			color: var(--glyph-standard);
			white-space: nowrap;

			a {
				color: inherit;
				text-decoration: none;
				opacity: 0.6;

				p {
					font-size: 12px;
					font-weight: 400;
				}

				&:hover, &:focus {
					opacity: 1;
				}
			}

			&:last-child a {
				opacity: 1;
				transition: opacity .5s;

				&.unmounting {
					opacity: .6;
				}
			}

			&-divider {
				pointer-events: none;
				margin: 0 4px;
				margin-bottom: 0.5px;
				opacity: 0.3;
			}
		}

		// mounting animations / data flag to fade in all crumbs | rel:3
		.crumb:last-child,
		&[data-fade-in-all-crumbs] {
			animation: fade-in-leftward var(--global-anim-timing-func) var(--nav-anim-duration)
				calc($crumb-anim-delay + 0.1s) backwards;
		}

		.crumb:nth-last-child(2) .crumb-divider {
			animation: crumb-divider-fade-in-leftward var(--global-anim-timing-func) var(--nav-anim-duration)
				$crumb-anim-delay backwards;

			@keyframes crumb-divider-fade-in-leftward {
				from {
					transform: translateX(10px);
					opacity: 0;
				}
			}
		}

		&[data-disable-crumb-anim] > ol {
			.crumb,
			.crumb .crumb-divider {
				animation: none;
			}
		}
	}
</style>
