---
const { crumbs } = Astro.props;
---

<nav class="crumbs" id="crumbs" aria-label="breadcrumbs">
	<ol>
		{
			crumbs.map((crumb, index) => (
				<li class="crumb">
					<a class="crumb-link" href={crumb.href} data-crumb-link>
						<p class="h2">{crumb.text}</p>
					</a>

					{index < crumbs.length - 1 ? (
						<p class="h2 crumb-divider">/</p>
					) : null}
				</li>
			))
		}
	</ol>
</nav>

<style lang="scss">
	.crumbs {
		$anim-delay: 0.3s;

		padding: 5px 10px 3px 18px;

		&,
		ol,
		.crumb {
			display: flex;
			align-items: center;
		}

		ol {
			flex-wrap: wrap;
		}

		.crumb {
			color: var(--glyph-standard);
			line-height: 1.3;
			white-space: nowrap;

			a {
				color: inherit;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}

			&-divider {
				margin: 0 8px;
				margin-bottom: 0.5px;
			}
		}

		// mounting animations / data flag to fade in all crumbs | rel:3
		.crumb:last-child, &[data-fade-in-all-crumbs] {
			animation: fade-in-leftward ease-out var(--nav-anim-duration) calc($anim-delay + 0.1s)
				backwards;
		}

		.crumb:nth-last-child(2) .crumb-divider {
			animation: fade-in-leftward ease-out var(--nav-anim-duration) $anim-delay backwards;
		}

		&[data-disable-crumb-anim] > ol {
			.crumb,
			.crumb .crumb-divider {
				animation: none;
			}
		}
	}
</style>
