<footer>
	<section data-nav-freeze>
		<p>
			Copyright © <span id="current-year"></span> | Designed &amp; Developed by Eric Grossman
		</p>
		<p>This site is currently being built.</p>
	</section>
</footer>

<style is:global lang="scss">
	footer {
		grid-area: footer;
		background-color: rgb(138, 138, 138);
		padding: 20px;
		text-align: center;
	}
</style>

<script>
	const currentYear = new Date().getFullYear().toString();
	document.getElementById('current-year').textContent = currentYear;
</script>
