<footer>
	<div class="footer-content">
		<p>
			© Designed &amp; Developed by Eric Grossman
			<br />
			 This site is currently being built.
		</p>
	</div>
</footer>

<style lang="scss">
	footer {
		grid-area: footer;
		background-color: rgb(138, 138, 138);
	}
</style>
