<div class='grain'>
	<!-- Thanks to Sébastien Noël at https://fffuel.co/nnnoise/ -->
	<svg
		xmlns='http://www.w3.org/2000/svg'
		version='1.1'
		xmlns:xlink='http://www.w3.org/1999/xlink'
		xmlns:svgjs='http://svgjs.dev/svgjs'
		viewBox='0 0 100% 100%'
		width='100%'
		height='100%'
		opacity='1'>
		<defs>
			<filter
				id='grain-filter'
				filterUnits='objectBoundingBox'
				primitiveUnits='userSpaceOnUse'
				color-interpolation-filters='linearRGB'>
				<feTurbulence
					type='turbulence'
					baseFrequency='0.06'
					numOctaves='4'
					seed='15'
					stitchTiles='stitch'
					x='0%'
					y='0%'
					width='100%'
					height='100%'
					result='turbulence'>
				</feTurbulence>
				<feSpecularLighting
					surfaceScale='40'
					specularConstant='3'
					specularExponent='20'
					lighting-color='#ffffff'
					x='0%'
					y='0%'
					width='100%'
					height='100%'
					in='turbulence'
					result='specularLighting'>
					<feDistantLight azimuth='3' elevation='175'></feDistantLight>
				</feSpecularLighting>
			</filter>
		</defs><rect width='100%' height='100%' fill='transparent'></rect><rect
			width='100%'
			height='100%'
			fill='#ffffff'
			filter='url(#grain-filter)'>
		</rect>
	</svg>
</div>

<style is:global lang='scss'>
	.grain {
		$grain-opacity-light: 0.5;
		$grain-opacity-dark: 0.06;

		position: fixed;
		width: 100vw;
		height: 100vh;
		height: 100lvh;
		pointer-events: none;
		z-index: -1;
		opacity: $grain-opacity-light;

		@media (prefers-color-scheme: dark) {
			opacity: $grain-opacity-dark;
		}

		// double opacity on Chrome to match rendering of Safari & FireFox
		&.chrome-detected {
			opacity: calc($grain-opacity-light * 2);

			@media (prefers-color-scheme: dark) {
				opacity: calc($grain-opacity-dark * 2);
			}
		}
	}
</style>

<script>
	import { browserDetect } from '../../public/scripts/global-scripts.js';

	const GrainEl = document.querySelector('.grain');

	if (browserDetect() === 'chrome') {
		GrainEl.classList.add('chrome-detected');
	}
</script>
