<div class='grain'></div>

<style is:global lang='scss'>
	.grain {
		$grain-opacity-light: .7;
		$grain-opacity-dark: .5;

		background-image: url(/public/assets/grain.png);
		filter: invert(1) opacity($grain-opacity-light);
		position: fixed;
		width: 100vw;
		height: 100vh;
		width: 100lvw;
		height: 100lvh;
		pointer-events: none;
		z-index: 999;

		@media (prefers-color-scheme: dark) {
			filter: invert(0) opacity($grain-opacity-dark);
		}
	}
</style>
