---
const { navWidth } = Astro.props;
---

<nav>
	<label class="nav-toggle functional" for="nav-toggle">
		<img src="./assets/icons/hamburger_menu.svg" alt="Navbar menu icon" />
	</label>
	<div class="nav-toggle placeholder">
		<img src="./assets/icons/hamburger_menu.svg" role="presentation" />
	</div>

	<div class="directory">
		<a href="#">
			<img src="./assets/icons/home.svg" title="Home" alt="Home page icon" />
		</a>

		<a href="#">
			<img src="./assets/icons/journal.svg" title="Journal" alt="Journal page icon" />
		</a>

		<a href="#">
			<img src="./assets/icons/about.svg" title="About" alt="About page icon" />
		</a>
	</div>

	<div class="notifications">
		<img src="./assets/icons/notifications.svg" alt="Notification icon" />
	</div>
</nav>

<style is:global lang="scss" define:vars={{ navWidth }}>
	:root {
		--nav-icon-width: 40px;
		--nav-vert-padding: 25px;
	}

	#nav-toggle:checked + main {
		grid-template-columns: 0px auto;
	}

	#nav-toggle {
		display: none;
	}

	.nav-toggle.functional {
		position: fixed;
		left: calc((var(--navWidth) - var(--nav-icon-width)) / 2);
		top: 25px;
		width: var(--nav-icon-width);
		z-index: 100;
	}

	nav {
		grid-area: nav;
		position: sticky;
		top: 0;
		display: flex;
		flex-direction: column;
		row-gap: 60px;
		padding: var(--nav-vert-padding) 0;
		align-items: center;
		justify-content: space-between;
		overflow-y: auto;
		height: calc(100vh - var(--nav-vert-padding) * 2);
		height: calc(100dvh - var(--nav-vert-padding) * 2);
		// fix for shift at end of page scroll (Google Chrome)
		margin-bottom: -1px;

		.nav-toggle.placeholder {
			opacity: 0;
		}

		img {
			width: var(--nav-icon-width);
			@media (prefers-color-scheme: dark) {
				filter: invert(0.95);
			}
		}

		.directory {
			display: flex;
			flex-direction: column;
			row-gap: 25px;
		}
	}
</style>
