---
import { Icon } from 'astro-icon';

import navData from '../data/navData';
---

<nav aria-expanded="true">
	<button class="nav-toggle" title="Navigation" aria-label="Toggle navigation panel">
		<Icon name="hamburger_menu" />
	</button>
	<div class="placeholder">
		<Icon name="hamburger_menu" />
	</div>

	<div class="directory">
		{
			navData.map((page) => (
				<a
					href={page.path}
					title={page.name}
					aria-label={`Go to ${page.name} page`}
					data-navLink>
					<Icon name={page.name.toLowerCase()} />
				</a>
			))
		}
	</div>

	<button class="notifications" title="Notifications" aria-label="Open Notifications pane" data-navLink>
		<Icon name="notifications" />
	</button>
</nav>

<style is:global lang="scss">
	nav {
		$icon-width: 35px;
		$vert-padding: 20px;

		grid-area: nav;
		position: sticky;
		top: 0;
		display: flex;
		flex-direction: column;
		row-gap: 65px;
		padding: $vert-padding 0;
		align-items: center;
		justify-content: space-between;
		overflow-y: auto;
		line-height: 0;
		height: calc(100vh - $vert-padding * 2);
		height: calc(100dvh - $vert-padding * 2);

		.nav-toggle {
			position: fixed;
			left: calc((var(--nav-width) - $icon-width) / 2);
			top: $vert-padding;
			z-index: 9999;
			width: $icon-width;
		}

		.placeholder {
			opacity: 0;
		}

		svg {
			width: $icon-width;
			fill: var(--glyph-standard);
		}

		button {
			line-height: 0;
		}

		.directory {
			display: flex;
			flex-direction: column;
			row-gap: 25px;

			a {
				$flush-left: calc((var(--nav-width) - $icon-width) / -2);
				position: relative;

				&:after {
					content: '';
					position: absolute;
					left: calc($flush-left - 1px);
					height: 100%;
					border-left: 1px solid var(--glyph-standard);
					transition: left 200ms ease-out;
				}

				// current page
				&:is([aria-current]) {
					opacity: 1;

					&:after {
						left: calc($flush-left + 3px);
					}

					&:hover:after {
						left: calc($flush-left + 4px);
					}
				}

				// inactive pages
				&:not([aria-current]) {
					opacity: 0.5;

					&:hover:after {
						left: calc($flush-left + 3px);
					}
				}
			}
		}
	}
</style>

<script>
	const navLinks = document.querySelectorAll('[data-navLink]');

	navLinks.forEach((link) => {
		if (link.getAttribute('href') === window.location.pathname) {
			link.setAttribute('aria-current', 'page');
		}
	});

	const navToggle = document.querySelector('.nav-toggle');
	const nav = document.querySelector('nav');

	navToggle.addEventListener('click', () => {
		const ariaExpanded = nav.getAttribute('aria-expanded');

		if (ariaExpanded === 'false') {
			nav.setAttribute('aria-expanded', 'true');
			navLinks.forEach((link) => {
				link.removeAttribute('tabindex');
			});
		} else {
			nav.setAttribute('aria-expanded', 'false');
			navLinks.forEach((link) => {
				link.setAttribute('tabindex', '-1');
			});
		}
	});
</script>
