---
import { Icon } from 'astro-icon';

import navData from '../data/navData';
---

<nav>
	<label
		class="nav-toggle functional"
		for="nav-toggle"
		aria-label="Toggle navigation sidebar"
		tabindex="0">
		<Icon name="hamburger_menu" />
	</label>
	<div class="nav-toggle placeholder">
		<Icon name="hamburger_menu" />
	</div>

	<div class="directory">
		{
			navData.map((page) => (
				<a
					href={page.path}
					title={page.name}
					aria-label={`Go to ${page.name} page`}
					data-navLink>
					<Icon name={page.name.toLowerCase()} />
				</a>
			))
		}
	</div>

	<div class="notifications">
		<a href="#" title="Notifications" aria-label="Open Notifications pane">
			<Icon name="notifications" />
		</a>
	</div>
</nav>

<style is:global lang="scss">
	#nav-toggle:checked + main {
		grid-template-columns: 0px auto;
	}

	#nav-toggle {
		display: none;
	}

	nav {
		$icon-width: 35px;
		$vert-padding: 20px;

		grid-area: nav;
		position: sticky;
		top: 0;
		display: flex;
		flex-direction: column;
		row-gap: 65px;
		padding: $vert-padding 0;
		align-items: center;
		justify-content: space-between;
		overflow-y: auto;
		height: calc(100vh - $vert-padding * 2);
		height: calc(100dvh - $vert-padding * 2);

		.nav-toggle.functional {
			position: fixed;
			left: calc((var(--nav-width) - $icon-width) / 2);
			top: $vert-padding;
			z-index: 100;
			width: $icon-width;
		}

		.nav-toggle.placeholder {
			opacity: 0;
		}

		a {
			line-height: 0;
		}

		svg {
			width: $icon-width;
			fill: var(--glyph-standard);
			cursor: pointer;
		}

		.directory {
			display: flex;
			flex-direction: column;
			row-gap: 25px;

			svg {
				opacity: 0.5;
			}

			[aria-current]:not([aria-current='false']) {
				opacity: 1;
				position: relative;

				svg {
				opacity: 1;
				}

				&:after {
					content: '';
					position: absolute;
					right: 51px;
					height: 100%;
					border-left: 1px solid var(--glyph-standard);;
				}
			}
		}
	}
</style>

<script>
	const navLinks = document.querySelectorAll('[data-navLink]');

	navLinks.forEach((link) => {
		if (link.getAttribute('href') === window.location.pathname) {
			link.setAttribute('aria-current', 'page');
		}
	});
</script>
