/* CSS DOCUMENT */

@font-face {
	font-family: 'Poltawski';
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/Poltawski-Nowy-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Poltawski';
	font-style: italic;
	font-weight: 800;
	src: url('../fonts/Poltawski-Nowy-Bold-Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Poltawski';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/Poltawski-Nowy-SemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'Poltawski';
	font-style: italic;
	font-weight: 600;
	src: url('../fonts/Poltawski-Nowy-SemiBold-Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Courier New Self Hosted';
	src: url('CourierNewPS-BoldItalicMT.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Courier New Self Hosted';
	src: url('CourierNewPS-BoldMT.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Courier New Self Hosted';
	src: url('CourierNewPS-ItalicMT.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Courier New Self Hosted';
	src: url('CourierNewPSMT.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

h1, .h1 {
	font-family: 'Poltawski', 'Times New Roman', Times, serif;
	font-size: 100px;
	font-weight: 800;
	line-height: 0.93;
}

h2, .h2 {
	font-family: 'Courier New', 'Courier New Self Hosted', monospace;
	font-size: 15px;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	b {
		/* incase system doesn't have a bold pre-installed Courier New */
		font-family: 'Courier New Self Hosted', 'Courier New', monospace;
		font-weight: bold
	}
}

p {
	font-family: 'Times New Roman', Times, serif;
	font-size: 18px;
	font-weight: 200;
	line-height: 1.4;
	letter-spacing: -0.02em;
}
