/* CSS DOCUMENT */

/* credit to codepen.io/ffoodd for visually-hidden styling */
.visually-hidden {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 0px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 0px !important;
	white-space: nowrap !important;
}
.visually-hidden-focusable:focus,
.visually-hidden-focusable:active {
	clip: auto !important;
	-webkit-clip-path: none !important;
	clip-path: none !important;
	height: auto !important;
	margin: auto !important;
	overflow: visible !important;
	width: auto !important;
	white-space: normal !important;
}

.display-none {
	display: none !important;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.anim-fade-in {
	animation: fade-in ease-out var(--nav-anim-duration) forwards;
}

@keyframes fade-in-leftward {
	0% {
		transform: translateX(10px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.anim-fade-in-leftward {
	animation: fade-in-leftward ease-out var(--nav-anim-duration) forwards;
}

@keyframes fade-in-rightward {
	0% {
		transform: translateX(-10px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.anim-fade-in-rightward {
	animation: fade-in-rightward ease-out var(--nav-anim-duration) forwards;
}

@keyframes fade-out {
	100% {
		opacity: 0;
	}
}

.anim-fade-out {
	animation: fade-out ease-out var(--nav-anim-duration) forwards !important;
}

@keyframes fade-out-leftward {
	0% {
		transform: translateX(0);
		opacity: 1;
	}
	100% {
		transform: translateX(-10px);
		opacity: 0;
	}
}

.anim-fade-out-leftward {
	animation: fade-out-leftward ease-out var(--nav-anim-duration) forwards !important;
}

@keyframes fade-out-rightward {
	0% {
		transform: translateX(0);
		opacity: 1;
	}
	100% {
		transform: translateX(10px);
		opacity: 0;
	}
}

.anim-fade-out-rightward {
	animation: fade-out-rightward ease-out var(--nav-anim-duration) forwards !important;
}