/* CSS DOCUMENT */

@font-face {
	font-family: 'Poltawski Self-hosted';
	src: url('../fonts/Poltawski-Nowy-Bold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poltawski Self-hosted';
	src: url('../fonts/Poltawski-Nowy-Bold-Italic.woff2') format('woff2');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Poltawski Self-hosted';
	src: url('../fonts/Poltawski-Nowy-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poltawski Self-hosted';
	src: url('../fonts/Poltawski-Nowy-SemiBold-Italic.woff2') format('woff2');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Andale Mono Self-hosted';
	src: url('../fonts/AndaleMono.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Times New Roman Self-hosted';
	src: url('../fonts/TimesNewRomanPS-BoldItalicMT.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Times New Roman Self-hosted';
	src: url('../fonts/TimesNewRomanPS-BoldMT.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Times New Roman Self-hosted';
	src: url('../fonts/TimesNewRomanPS-ItalicMT.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Times New Roman Self-hosted';
	src: url('../fonts/TimesNewRomanPSMT.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


h1, .h1 {
	font-family: 'Poltawski Self-hosted', 'Times New Roman', Times, serif;
	font-size: 100px;
	font-weight: 800;
	line-height: 0.93;
}

h2, .h2, a {
	font-family: 'Andale Mono Self-hosted', 'Andale Mono', monospace;
	font-size: 15px;
	font-weight: 100;
	letter-spacing: 0.02em;
	text-transform: uppercase;
}

p {
	font-family: 'Times New Roman Self-hosted', 'Times New Roman', Times, serif;
	font-size: 18px;
	font-weight: 200;
	line-height: 1.4;
	letter-spacing: -0.02em;
}

article a {
	font-size: 12px;
	text-decoration: none;
	color: var(--glyph-standard);
	outline: 1px solid var(--glyph-standard);
	padding: 5px 7px;
}
